header.masthead {
  background: url(http://www.bridgeblueglobal.com/wp-content/uploads/2015/02/study-in-australia-seminar.jpg) no-repeat !important;
  background-size: cover !important;
  background-position-y: center !important;
  box-shadow: inset 0 0 0 1000px rgba(85, 13, 132, 0.6)
}
