<header class="masthead">
  <div class="overlay" style="padding: 10rem 0">
    <div class="container">
      <div class="row">

        <div class="col-md-10 col-lg-8 col-xl-7">
          <h1 class="font-weight-bold text-white">
            Seu futuro brilhante,
            <br>
            começa no EnemGO!
            <br>
            <h4 class="text-white">
              A melhor preparação para o <strong><u>ENEM</u></strong>.
            </h4>
          </h1>
          <h1 class="font-weight-bold">
            <em class="text-primary">#PartiuENEM!</em>
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>

  <%= render 'home/partials/about' %>

  <hr>
  <%= render 'home/partials/plans' %>
