<section class="container g-bg-secondary py-5">
  <%= render 'home/partials/header_section',
      title: 'O que é EnemGO!?', 
      subtitle: 'Prepare-se para o ENEM de forma prática!'
  %>
  <div class="row py-5">

  </div>
</section>
