<div class="text-center mx-auto g-max-width-645 g-mb-70">
  <h2 class="text-purple font-weight-bold line-height-1 mb-3" style="font-size: 38px;">
    <%= title %>
  </h2>
  <p class="lead font-weight-light text-muted mb-0">
    <%= subtitle %>
  </p>

</div>
